@model DrogSystem.EntidadesDominio.EDProductPresentationPrice
@{
    ViewBag.Title = "Precios Producto";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/Sweetalert.js"></script>
<script src="~/Scripts/ProductPresentationPrice.js"></script>


<div class="container">
    <h2>Listado de Productos</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" onclick="clearTextBox();">Agregar Precio Producto</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    <center>Nombre Producto</center>
                </th>
                <th>
                    <center>Fabricante</center>
                </th>
                <th>
                    <center>Presentación</center>
                </th>
                <th>
                    <center>Cantidad Presentación</center>
                </th>
                <th>
                    <center>Precio</center>
                </th>
                <th>
                    <center>Operación</center>
                </th>
            </tr>
        </thead>
        <tbody class="tbody" id="maestro"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Producto</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="PrecioProductoId" placeholder="Id" style="visibility:hidden" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="ProductDetailId" placeholder="Id" style="visibility:hidden" />
                    </div>
                    <div class="form-group row">
                        <label for="CodBarras" class="col-md-4 col-form-label" >Código de Barras</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="CodBarras" placeholder="Ingrese el código de barras" onchange="buscarProduct()"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="NombreProducto" class="col-md-4 col-form-label">Nombre Producto</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="NombreProducto" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="NombreFabricante" class="col-md-4 col-form-label">Fabricado Por:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="NombreFabricante" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="NombrePresentacion" class="col-md-4 col-form-label">Presentación</label>
                        <div class="col-md-8">
                            <select class="form-control" id="NombrePresentacion" onchange="buscar(this.value)"></select>
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <label for="PresentationId" class="col-md-4 col-form-label">Cantidad Presentación</label>
                        <div class="col-md-8">
                            <select class="form-control" id="PresentationId" ></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Existencias" class="col-md-4 col-form-label">Precio</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="Precio" />
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Crear</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Modificar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>



