@model DrogSystem.EntidadesDominio.EDMarker
@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Marker.js"></script> 


<div class="container">
    <h2>Listado de Fabricantes</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Agregar Fabricante</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    <center>Nombre Fabricante</center>
                </th>
                <th>
                    <center>Operación</center>
</th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>  
