@model DrogSystem.EntidadesDominio.EDPaymentProvider
@{
    ViewBag.Title = "Pago Terceros";
}

<link href="~/Content/sweetalert2.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/Sweetalert.js"></script>
<script src="~/Scripts/PaymentProvider.js"></script>


<div class="container">
    <h2>Listado de Pagos a Terceros</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Agregar Pago a Tercero</button><br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    <center>Fecha Pago</center>
                </th>
                <th>
                    <center>Nombre Tercero</center>
                </th>
                <th>
                    <center>Valor Pago</center>
                </th>
                <th>
                    <center>Observaciones</center>
                </th>
                <th>
                    <center>Operación</center>
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Tercero</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="Id_Pago" id="IdPagoText" class="col-md-4 col-form-label">Pago Número</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="Id_Pago" placeholder="Id" disabled ="disabled"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Fecha_Pago" class="col-md-4 col-form-label">Fecha Pago</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="Fecha_Pago" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="TerceroId" class="col-md-4 col-form-label">Tipo de Tercero</label>
                        <div class="col-md-8">
                            <select class="form-control" id="TerceroId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Valor_Pago" class="col-md-4 col-form-label">Valor a Pagar</label>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="Valor_Pago" placeholder="Valor a Pagar" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Observacion" class="col-md-4 col-form-label">Observaciones</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="Observacion" placeholder="Observaciones" > </textarea>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Crear</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Modificar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script>
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $("#Fecha_Pago").datepicker({
        dateFormat: "dd/mm/yy",
    });
</script>
