@model DrogSystem.EntidadesDominio.EDSale
@{
    ViewBag.Title = "Reportes";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/Sweetalert.js"></script>
<script src="~/Scripts/Reports.js"></script>

<div class="container">
    <div class="modal-body">
        <h2>Listado de Reportes</h2>
        <table class="table table-bordered table-hover" id="tabledetail">
            <thead>
                <tr>
                    <th>
                        <center>Nombre Reporte</center>
                    </th>
                    <th>
                        <center>Generar</center>
                    </th>
                </tr>
            </thead>
            <tbody class="tbody" id="detalle">
                <tr>
                    <th> Ventas por Fecha </th>
                    <th>
                        <center><a href="#" onclick="clearModal1()">Generar</a></center>
                    </th>
                </tr>    
                <tr>
                    <th> Ingreso Productos </th>
                    <th>
                        <center><a href="/Sales/RepEntries" target="_blank" class="btn btn-primary">Generar</a></center>
                    </th>
                </tr>              
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="resume();">Aceptar</button>
    </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Producto</h4>
            </div>
            <div class="modal-body">
                <form>                    
                    <div class="form-group row">
                        <label for="FechaDesde" class="col-md-4 col-form-label">Desde</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="FechaDesde" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="FechaHasta" class="col-md-4 col-form-label">Hasta</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="FechaHasta" />
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return IngresoProduct();">Generar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog h-100 my-0 mx-auto d-flex flex-column justify-content-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Totales</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="TotalFact" class="col-md-4 col-form-label">Total Factura</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="TotalFact" disabled />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Efectivo" class="col-md-4 col-form-label">Efectivo</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="Efectivo" oninput="CalcCambio()" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Cambio" class="col-md-4 col-form-label">Cambio</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="Cambio" disabled />
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Buscar Producto</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label for="NombreProducto" class="col-md-4 col-form-label">Nombre</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="BuscarProducto" />
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary" id="btnAdd" onclick="return buscar();"> Buscar </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                <center>Nombre Producto</center>
                            </th>
                            <th>
                                <center>Descripción</center>
                            </th>
                            <th>
                                <center>Opción</center>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbody" id="detalle2"></tbody>
                </table>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script id="script1">
    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $("#FechaDesde").datepicker({
        dateFormat: "dd/mm/yy",
        changeYear: true,
        changeMonth: true,
    });
    $("#FechaHasta").datepicker({
        dateFormat: "dd/mm/yy",
        changeYear: true,
        changeMonth: true,
    });
    $(function () {
        var dateFormat = "dd/mm/yy",
          from = $("#FechaDesde")
            .datepicker({
                defaultDate: "+1w",
                changeMonth: true,
            })
            .on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            }),
          to = $("#FechaHasta").datepicker({
              defaultDate: "+1w",
              changeMonth: true,
          })
          .on("change", function () {
              from.datepicker("option", "maxDate", getDate(this));
          });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }
    });
</script>



